{% extends 'base.html' %}
{% load static %}


{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'not_found.jpeg' %}" class="" alt="">
            </div>
            <div class="col-md-6 mt-lg-3 pt-5">
                <h1 class="display-2 text-info">404</h1>
                <h1 class="display-4 text-info">PAGE NOT FOUND!</h1>
                <div>
                    <p>Hello, we are sorry but we can't find the page you are looking for.</p>
                    <p>If you think this is our error, please let us know by <a href="">Contacting us</a>.</p>
                    <strong>Otherwise, try the following.</strong>
                    <ul>
                        <li>
                            If you are the developer, check if you are using the right registered token for your application
                        </li>
                        <li>
                            Make sure you referenced the link corrected.
                        </li>
                        <li>
                            And if you are a user of this authentication, please contact the application developers and let them know about this issue.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}